<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
    </system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="LotOfObjectsBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
		</behaviors>
		<services>
			<service name="Nop.Plugin.Widgets.Flexibee.FlexibeeHook" behaviorConfiguration="LotOfObjectsBehavior">
				<endpoint address="" binding="webHttpBinding" contract="Nop.Plugin.Widgets.Flexibee.IFlexibeeHook" behaviorConfiguration="web" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
