<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nop.Plugin.Shipping.PPL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nop.Plugin.Shipping.PPL.Properties.Settings>
            <setting name="Nop_Plugin_Shipping_PPL_track_TrackService" serializeAs="String">
                <value>https://wwwcie.PPL.com/webservices/Track</value>
            </setting>
        </Nop.Plugin.Shipping.PPL.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KtmSoap" />
                <binding name="IEGateSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="KtmSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="IEGateSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.pplbalik.cz/ASM/Ktm.asmx" binding="basicHttpBinding" bindingConfiguration="KtmSoap" contract="Ktm.KtmSoap" name="KtmSoap" />
            <endpoint address="http://www.pplbalik.cz/ASM/Ktm.asmx" binding="customBinding" bindingConfiguration="KtmSoap12" contract="Ktm.KtmSoap" name="KtmSoap12" />
            <endpoint address="http://www.ppl.cz/iegate/IEGate.asmx" binding="basicHttpBinding" bindingConfiguration="IEGateSoap" contract="Ppl.IEGateSoap" name="IEGateSoap" />
            <endpoint address="http://www.ppl.cz/iegate/IEGate.asmx" binding="customBinding" bindingConfiguration="IEGateSoap12" contract="Ppl.IEGateSoap" name="IEGateSoap12" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
